.warp {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    padding-top: 100px;
    /* UI Properties */
    background: #293B29 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
}

.calculator {
    margin: 0 auto;
    width: 350px;
    height: 525px;
    background: #062145 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #00000066;
    border-radius: 20px;
    opacity: 1;

    .top {
        height: 109px;
        background-color: #041936;
        border-radius: 20px 20px 0px 0px;
        padding-top: 20px;
        margin-bottom: 20px;

        #formula {
            text-align: end;
            margin-right: 20px;
            margin-left: 20px;
            font: normal normal normal 16px/16px Roboto;
            color: #00C4FF;
            opacity: 1;
        }

        #result {
            margin-right: 20px;
            margin-left: 20px;
            height: 66px;
            text-align: right;
            font: normal normal normal 56px/56px Roboto;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 1;
        }
    }

    .middle {
        display: flex;

        .input {
            width: 270px;

            .number {
                display: flex;
                justify-content: space-around;
                margin-bottom: 16px;

                a {
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    font-weight: 300;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    opacity: 1;
                    width: 64px;
                    height: 64px;
                }
            }
        }

        .function {
            a {
                width: 80px;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0px;
                color: #FFFFFF;
                opacity: 1;
                width: 64px;
                height: 64px;
                margin-bottom: 16px;
            }


        }

    }

    .bottom {
        display: flex;
        justify-content: space-around;
        .B {
            text-decoration: none;
            width: 64px;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            letter-spacing: 0px;
            color: #00C4FF;
            opacity: 1;
        }

        .R {
            text-decoration: none;
            width: 155px;
            height: 64px;
            background: transparent linear-gradient(90deg, #00C4FF 0%, #6C00FF 100%) 0% 0% no-repeat padding-box;
            border-radius: 16px;
            opacity: 1;
            display: flex;
            font-size: 24px;
            color: #FFFFFF;
            align-items: center;
            justify-content: end;
            padding-right:30px ;
        }
    }
}